{% extends 'base.html.twig' %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger">
			{{error.messageKey}}
		</div>
	{% endif %}

	{# {{form_start(form)}}
	{{form_rest(form)}}
	<input type="submit" value="Connexion" class="btn btn-success mt-2"> #}

	<form class="container" method="post">
		<label for="username" class="form-label">Nom d'utilisateur</label>
		<input type="text" name="_username" id="username" value="{{ last_username }}" class="form-control" required>
		<label for="password" class="form-label">Mot de passe</label>
		<div class="input-group">
			<input type="password" name="_password" id="user_password" class="form-control" required>
			<span role="button" class="input-group-text" onclick="togglePassword()">
				<i class="bi bi-eye" id="eye"></i>
				<i class="bi bi-eye-slash d-none" id="eye-slash"></i>
			</span>
		</div>
		<input type="hidden" name="_target_path" value="/">
		<input type="hidden" name="">
		<input type="submit" value="Connexion" class="btn btn-success mt-2">
	</form>
	<a href="/user/new" class="btn btn-link">Vous n'avez pas encore de compte ?</a>

{% endblock %}
